@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2b7f75;
  --secondary: #4aa1ff;
  --muted: #f5f5f5;
  --muted-foreground: #f9fafb;
  --error: #ca1c54;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
